body {
  margin: 0 auto;
  width: 1000px;
  font-family: 'Play', sans-serif;
}

header {
  padding: 15px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 70px;
  background-color: #c2a97d;
  text-align: right;
}

.btn-cart,
.btn-cart-block {
  width: 120px;
  height: 35px;
  font-size: 1.2em;
  border: none;
  outline: none;
  background-color: #a07945;
  color: #433512;
}

.btn-cart:hover,
.btn-cart-block:hover {
  background-color: #433512;
  color: #d1ccc4;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-cart:active,
.btn-cart-block:active {
  background-color: #7c4a24;
  color: #d5dadd;
}

.btn-cart-block {
  margin: 5px;
}

.btn-cart-block-addItem, .btn-cart-block-delItem {
  width: 60px;
}

.cart-wrp {
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: rgba(67, 53, 18, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}

.cart-block {
  margin: 0 auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 800px;
  min-height: 200px;
  background-color: #c2a97d;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cart-btnsAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-item {
  font-size: 1em;
  color: #433512;
}

.cart-item-name {
  display: inline-block;
  width: 42%;
  font-weight: 600;
}

.cart-item-price {
  display: inline-block;
  width: 20%;
  text-align: center;
}

.cart-item-quantity {
  display: inline-block;
  width: 20%;
  text-align: center;
}

.products {
  padding: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px 15px;
  background-color: #D0B48F;
}

.product-item {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #a07945;
}

.product-item:hover {
  background-color: #c2a97d;
}

.product-item:hover > .buy-btn {
  background-color: #d1ccc4;
}

.product-item:hover > .buy-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #a07945;
  color: #d5dadd;
}

.product-item:hover > .buy-btn:active {
  background-color: #c2a97d;
  color: #a07945;
}

.product-item:active {
  background-color: #d1ccc4;
}

.product-item:active > .product-item__title,
.product-item:active > .product-item__price {
  color: #c2a97d;
}

.product-item__title {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 1.5em;
  color: #433512;
  font-weight: 600;
}

.product-item__price {
  margin: 10px 0;
  padding: 0;
  font-size: 1em;
  color: #433512;
}

.product-item__img {
  width: 100%;
}

.buy-btn {
  width: 100px;
  height: 30px;
  font-size: 1em;
  font-weight: 600;
  border: none;
  outline: none;
  background-color: #c2a97d;
  color: #433512;
}
/*# sourceMappingURL=style.css.map */